html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
    color: darkred !important;
}

.footer {
    background-color: lightgray;
}

#pgHeader {
    background-color: lightgray;
}

a{
    color: darkred;
}

a:hover{
    color: lightsalmon;
}

* {
    font-family: "Abel", sans-serif;
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em darkblue, 0 0 0.2em darkblue;
    color: lightblue;
    font: 1.5em Georgia, serif;
/*    background-color: lightgrey;*/
}

#home {
    background-image: url("images/home.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}