@model FinancialTransactions

<h2>Update @Model.TransactionID</h2>

@using (Html.BeginForm("UpdateTranzactionToDatabase", "Transaction", "Post"))
{
    <input asp-for="TransactionID" type="hidden" value="@Model.TransactionID" />


    <label asp-for="TransactionDate" class="control-label">TransactionDate</label>
    <input type="text" name="TransactionDate" class="form-control" value="@Model.TransactionDate" />

    <label asp-for="Amount" class="control-label">Amount</label>
    <input type="number" step="0.01" name="Price" class="form-control" value="@Model.Amount" />

    <input type="submit" value="Update Transaction" class="btn btn-primary" />
}